{{>layout/header}}
    <h1>게시글 등록</h1>
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="title">title</label>
                <input type="text" class="form-control" id="title" placeholder="insert title">
            </div>
            <div class="form-group">
                <label for="author">author</label>
                <input type="text" class="form-control" id="author" placeholder="insert author">
            </div>
            <div class="form-group">
                <label for="content">content</label>
                <textarea class="form-control" id="content" placeholder="insert content"></textarea>
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">cancle</a>
        <button type="button" class="btn btn-primary" id="btn-save">upload</button>
    </div>
{{>layout/footer}}